@model List<Sms>

<div class="container-lg bg-light Small shadow">
    <h1 class=" text-center p-3">صندوق دریافت</h1>
    <div class="container-md bg-white p-3">
@if (Model == null || !Model.Any())
{
            <div class="alret alret-info">هیچ پیامی وجود ندارد.</div>
}
else
{
    @foreach (var sms in @Model)
    {
                <div class="card p-1 m-2" style="width: fit-content;">
                    <div class="card-body">
                        <h5 class="card-title">@sms.SenderId</h5>
                        <p class="card-text">@sms.Message</p>
                    </div>
                </div>
    }
}
    </div>
</div>