@model List<Sms>

<div class="container-lg py-5">
    <h1 class="text-center mb-4 fw-bold">صندوق دریافت</h1>
    <div class="container-md bg-white rounded shadow-sm p-4">
        @if (Model == null || !Model.Any())
        {
            <div class="alert alert-info text-center">هیچ پیامی وجود ندارد.</div>
        }
        else
        {
            <div class="d-flex flex-column gap-3">
                @foreach (var sms in Model)
                {
                    <div class="card border-primary shadow-sm">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">فرستنده: <span class="fw-bold">@sms.SenderId</span>
                            </h6>
                            <p class="card-text">@sms.Message</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
