.navbar-custom-bg.navbar {
  background: linear-gradient(to bottom, #c73e2f, #e06b3a) !important; /* Top to bottom gradient */
  background: linear-gradient(to right, #c73e2f, #e06b3a, #c73e2f) !important; /* Left to right gradient */
}

.navbar-brand-custom {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.nav-link-custom {
  font-size: 1rem;
  font-weight: normal;
  color: #cccccc;
}
