@{
    ViewData["Title"] = "Home Page";
}

<div class="row col d-flex justify-content-center align-content-center">
    <form class="card p-4" style="width: 200rem;">
        <div class="form-group p-2">
            <label for="exampleInputEmail1">شماره/نام سازمان</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="شماره یا نام سازمانتان را وارد کنید">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>